In [24]:
import pandas as pd

In [25]:
df=pd.read_csv('../data/processed/datos.csv',parse_dates=['Date'])

In [26]:
print(df.shape)
df.head()

(421570, 17)

,Unnamed: 0,Store,Dept,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,Type,Size
0,0,1,1,2010-02-05,24924.50,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,A,151315
1,1,1,1,2010-02-12,46039.49,True,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,A,151315
2,2,1,1,2010-02-19,41595.55,False,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,A,151315
3,3,1,1,2010-02-26,19403.54,False,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,A,151315
4,4,1,1,2010-03-05,21827.90,False,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,A,151315

In [27]:
df_agrupado_tipo=df.groupby('Type')
df_agrupado_tipo.head()

,Unnamed: 0,Store,Dept,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,Type,Size
0,0,1,1,2010-02-05,24924.50,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,A,151315
1,1,1,1,2010-02-12,46039.49,True,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,A,151315
2,2,1,1,2010-02-19,41595.55,False,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,A,151315
3,3,1,1,2010-02-26,19403.54,False,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,A,151315
4,4,1,1,2010-03-05,21827.90,False,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,A,151315
20482,20482,3,1,2010-02-05,6453.58,False,45.71,2.572,NaN,NaN,NaN,NaN,NaN,214.424881,7.368,B,37392
20483,20483,3,1,2010-02-12,12748.72,True,47.93,2.548,NaN,NaN,NaN,NaN,NaN,214.574792,7.368,B,37392
20484,20484,3,1,2010-02-19,8918.31,False,47.07,2.514,NaN,NaN,NaN,NaN,NaN,214.619887,7.368,B,37392
20485,20485,3,1,2010-02-26,4992.00,False,52.05,2.561,NaN,NaN,NaN,NaN,NaN,214.647513,7.368,B,37392
20486,20486,3,1,2010-03-05,5172.73,False,53.04,2.625,NaN,NaN,NaN,NaN,NaN,214.675139,7.368,B,37392
286548,286548,30,1,2010-02-05,10158.77,False,39.05,2.572,NaN,NaN,NaN,NaN,NaN,210.752605,8.324,C,42988
286549,286549,30,1,2010-02-12,14346.05,True,37.77,2.548,NaN,NaN,NaN,NaN,NaN,210.897994,8.324,C,42988
286550,286550,30,1,2010-02-19,12321.18,False,39.75,2.514,NaN,NaN,NaN,NaN,NaN,210.945160,8.324,C,42988
286551,286551,30,1,2010-02-26,10099.28,False,45.31,2.561,NaN,NaN,NaN,NaN,NaN,210.975957,8.324,C,42988
286552,286552,30,1,2010-03-05,9719.90,False,48.61,2.625,NaN,NaN,NaN,NaN,NaN,211.006754,8.324,C,42988

In [28]:
df_media_tipo=df_agrupado_tipo['Weekly_Sales'].mean().sort_values(ascending=False)
df_media_tipo
#Observamos que las tiendas tipo A, venden más semanalmente, averiguaremos si tiene correlación con la superficie de la tienda

Type
A    20099.568043
B    12237.075977
C     9519.532538
Name: Weekly_Sales, dtype: float64

In [30]:
df_media_tamaño=df_agrupado_tipo['Size'].mean()
df_media_tamaño.head()
#Obeservamos que las tiendas A son mucho más grandes que las B y las C así que podemos correlacionar que las ventas dependen del tamaño de la tienda

Type
A    182231.285486
B    101818.735827
C     40535.725286
Name: Size, dtype: float64